@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

.myBackground {
  height: 200vh;
  background: rgb(12, 12, 12);
  background: linear-gradient(
    105deg,
    rgba(12, 12, 12, 1) 0%,
    rgba(221, 87, 137, 1) 49%,
    rgba(122, 44, 158, 1) 100%
  );
  background-size: cover;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.trending {
  color: white;
}
